<%- include('layout.ejs') %> <%- include('partials/navbar.ejs') %>
<p>This is what is known as the Movie page (Hello there!)</p>

<p><%= movie.title %></p>

<p>Poster</p>
<img />


<p>Director: <%= movie.director %></p>
<p>Cast: <%= movie.actors %></p>
<p>Genres: <%= movie.genres %></p>
<p>Length (in minutes): <%= movie.runtime %></p>
<p>Year of release: <%= movie.release %></p>
<p>Plot Summary: <%= movie.summary %></p>
<p>Price: <%= movie.price %></p>

<p>Director:</p>
<p>Cast:</p>
<p>Genres</p>
<p>Age Rating</p>
<p>Length (in minutes)</p>
<p>Year of release:</p>
<p>Plot Summary:</p>
<p>Price:</p>


<p>Trailer:</p>
<p>Date added</p>
<p>Last edited</p>

<button>Add to Cart (if logged in)</button>
<button>Log in to add to cart</button>

<Button>Edit</Button>
