<%- include('layout.ejs') %> <%- include('partials/navbar.ejs') %>
<p>This is what is known as the Movie page (Hello there!)</p>

<p><%= movie.title %></p>

<p>Poster</p>
<img />

<p>Director: <%= movie.director %></p>
<p>Cast: <%= movie.actors %></p>
<p>Genres: <%= movie.genres %></p>
<p>Length (in minutes): <%= movie.runtime %></p>
<p>Year of release: <%= movie.release %></p>
<p>Plot Summary: <%= movie.summary %></p>
<p>Price: <%= movie.price %></p>

<p>Trailer:</p>
<p>Date added</p>
<p>Last edited</p>

<Button>Edit</Button>
