<%- include('layout.ejs') %> <%- include('partials/navbar.ejs') %>

<p>This is what is known as the Movie List page (Hello there!)</p>

<a href="/movie">Movie</a>

<p>Filter by Genres</p>
<p>Latest to Earliest</p>
<p>Order by Title, Price, Length</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Poster</th>
      <th>Director(s)</th>
      <th>Cast</th>
      <th>Genres</th>
      <th>Length (in minutes)</th>
      <th>Year</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < movies.length; i++) {%>
      <tr>
        <td><%= movies[i].title %></td>
        <td>Poster</td>
        <td><%= movies[i].director %></td>
        <td><%= movies[i].actors %></td>
        <td><%= movies[i].genres %></td>
        <td><%= movies[i].runtime %></td>
        <td><%= movies[i].release %></td>
        <td>$<%= movies[i].price %></td>
      </tr>>
    <% } %>
  </tbody>
</table>
