<%- include('layout.ejs') %> <%- include('partials/navbar.ejs') %>

<head>
  <title>Home</title>
</head>

<body>
  <p>This is what is known as the Home page (Hello there!)</p>

  <h1>Latest movie</h1>
  <a href="/movieslist/<%= movie.id %>">
    <h2><%=movie.title %></h2>

    <img src="<%= movie.poster %>" style="width: 50%" alt="" />
  </a>

  <!-- 

    
posts.forEach(function(post){ 

    <a href="/posts/post._id ">
      <h3>post.title </h3>
    </a>
    
    <img width="470" height="320" src="" ="post.feedImg" % /> alt=""> <br />
    <br />
    
     }); 
    een (when scrolled to top), and that it scales nicely on all screen sizes. -->
</body>
