<%- include('layout.ejs') %> 

<%- include('partials/navbar'+ type) %>

<head>
  <title>Home</title>
</head>

<body>
  <h1>Home </h1>
  <br />
  <h2>Latest movie</h2>
  <a href="/movieslist/<%= movie.id %>">
    <h2><%=movie.title %></h2>

    <img src="<%= movie.poster %>" style="width: 40%" alt="" />
  </a>

</body>
