
<%- include('layout.ejs') %> <%- include('partials/navbar'+ type) %>

<head>
  <title><%= movie.title %></title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
</head>

<body onload="setup()">
  <div id="readView" class="container">
    <h1><%= movie.title %></h1>

    <img src="<%= movie.poster %>" width="30%" />
    <p><b>Director:</b> <%= movie.director %></p>
    <p><b>Cast:</b> <%= movie.actors.join(", ") %></p>

    <p><b>Genres:</b> <%= movie.genres.join(", ") %></p>

    <p>
      <b>Age Rating: </b>

      <img src="/images/<%= movie.ageRating%>-Rating.png" width="50" alt="" />
    </p>

    <p><b>Length:</b> <%= movie.runtime %> minutes</p>
    <p><b>Year of release:</b> <%= movie.release %></p>
    <p><b>Plot Summary:</b> <%= movie.summary %></p>
    <p><b>Price:</b> $<%= movie.price %></p>

    <p><b>Trailer:</b></p>
   
    <iframe
      width="560"
      height="315"
      src="<%= movie.trailer %>"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <br />
    <br />

    <button id="add-to-cart" onclick="addToCart()">Add to Cart</button> <br />
    <button id="remove-from-cart" onclick="addToCart()">
      Remove from Cart
    </button>
    <br />

    <button id="login" onclick="location.href='/login'">Log in to add to cart</button> <br />

    <button
      id="edit"
      onclick="toggleEdit()"
      type="button"
      class="btn btn-primary"
      style="display: none;"
    >
      Edit
    </button>
  </div>

  <div id="editView" class="container">
    <h1>Editing Mode</h1>

    <form method="POST" action="/movieslist/<%= movie.id %>">
      <label for="">Title</label>
      <input
        type="text"
        value="<%= movie.title %>"
        name="newTitle"
        id="newTitle"
      />
      <br />

      <label for="">Poster link</label>
      <input
        type="text"
        value="<%= movie.poster %>"
        name="newPoster"
        id="newPoster"
        size="100%"
      />

      <br />
      <label for="">Director(s)</label>
      <input
        type="text"
        value="<%= movie.director %>"
        name="newDirectors"
        id="newDirectors"
      />
      <br />
      <label for="">Actors</label>
      <input type="text" value="<%= movie.actors.join(", ") %>" name="newActors"
      id="newActors" size="100%">
      <br />
      <label for="">Genres</label>
      <input type="text" value="<%= movie.genres.join(", ") %>" name="newGenres"
      id="newGenres">
      <br />
      <label for="">Age Rating</label>

      <select name="newRating" id="newRating">
        <option value="G" id="Grating">G</option>
        <option value="PG" id="PGrating">PG</option>
        <option value="M" id="Mrating">M</option>
        <option value="R13" id="R13rating">R13</option>
        <option value="R16" id="R16rating">R16</option>
        <option value="R18" id="R18rating">R18</option>
      </select>
      <br />
      <label for="">Length (in minutes)</label>
      <input
        type="number"
        value="<%= movie.runtime %>"
        name="newRuntime"
        id="newRuntime"
      />
      <br />
      <label for="">Year of release</label>
      <input type="number" value="<%= movie.release %>" name="newYear" id="newYear" />

      <br />
      <label for="">Plot Summary</label>
      <br />
      <textarea name="newSummary" id="newSummary" style="width: 100%" rows="10">
<%= movie.summary %> </textarea
      >


      <br />
      <label for="">Price</label>
      <input type="number" value="<%= movie.price %>" name="newPrice" id="newPrice" />
      <br />
      <label for="">Trailer link (embed)</label>
      <input
        type="text"
        style="width: 100%"
        value="<%= movie.trailer %>"
        name="newTrailer"
        id="newTrailer"
      />
    
    <button
      id="edit"
      onclick="finishEditing()"
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
    </form>
    <form method="POST" action="/movieslist/delete/<%= movie.id %>">
    <button
      id="delete"
      onclick="deletePost()"
      type="submit"
      class="btn btn-danger"
    >
      Delete
    </button>
    
    </form>
  </div>
</body>


<script>
  var navbarString = 'partials/<%=type %>Navbar.ejs';

  console.log('partials/<%=type %>Navbar.ejs');
 var id = "<%= movie.id %>";
  var guest = false;
  var adminUser = false;
  var editingMode = false;
  var inCart = false;
  var cartString = "<%= shoppingCart %>";
  var cart = cartString.split(",");
  var loggedIn = ("<%= userLogged %>" =="true");
  console.log(loggedIn);
  
  //movie.actors.join(", ")

  
  

  function toggleEdit() {
    console.log("toggleEdit");
    editingMode = !editingMode;
    editing();
  }

  function setup() {

    console.log(loggedIn);
 
    if(loggedIn){
     
      guest = false;
    
      
      
      
      if(cart.includes(id)){
        inCart = true;
      }
      else{
        inCart = false;
      }

      if("<%= admin %>" =="true"){

        adminUser = true;
      }
      console.log("admin " + adminUser);
      
    }
    else{
      guest = true;
      inCart = false;
    }


    
    document.getElementById("<%= movie.ageRating %>rating").selected = true;
    document.getElementById("editView").style.display = "none";
    document.getElementById("readView").style.display = "block";
    if (guest) {
      document.getElementById("add-to-cart").style.display = "none";
      document.getElementById("remove-from-cart").style.display = "none";
      document.getElementById("edit").style.display = "none";
      document.getElementById("login").style.display = "block";
    } else {
      if (inCart) {
      document.getElementById("add-to-cart").style.display = "none";
      document.getElementById("remove-from-cart").style.display = "block";
    } else {
      document.getElementById("add-to-cart").style.display = "block";
      document.getElementById("remove-from-cart").style.display = "none";
    }


      document.getElementById("login").style.display = "none";
     
      console.log(adminUser);
      if (adminUser) {
        document.getElementById("edit").style.display = "block";
      } else {
        document.getElementById("edit").style.display = "none";
      }
    }
  }

  function addToCart() {
    inCart = !inCart;
    if (inCart) {
      document.getElementById("add-to-cart").style.display = "none";
      document.getElementById("remove-from-cart").style.display = "block";
      alert("Movie has been added to shopping cart");
    } else {
      document.getElementById("add-to-cart").style.display = "block";
      document.getElementById("remove-from-cart").style.display = "none";
      alert("Movie has been removed from shopping cart");
    }
  }

  function editing() {
    document.getElementById("editView").style.display = "block";
    document.getElementById("readView").style.display = "none";
  }

  function deletePost() {
    alert("Delete post");
  }
  function finishEditing() {
    document.getElementById("editView").style.display = "none";
    document.getElementById("readView").style.display = "block";

    var updatedTitle = document.getElementById("newTitle").value;
    var updatedDirector = document
      .getElementById("newDirector")
      .value.split(",");
    var updatedGenres = document.getElementById("newGenres").value.split(",");
    var updatedActors = document.getElementById("newActors").value.split(",");
    var updatedLength = document.getElementById("newLength").value;
    var updatedYear = document.getElementById("newYear").value;
    var updatedSummary = document.getElementById("newSummary").value;
    var updatedRating = document.getElementById("agerating").value;
    var updatedPrice = document.getElementById("newPrice").value;
    var updatedPoster = document.getElementById("newPoster").value;
    var updatedTrailer = document.getElementById("newTrailer").value;

    //document.location.reload();
  }
</script>
