<%- include('layout.ejs') %> <%- include('partials/navbar'+ type) %>

<head>
  <title>Shopping Cart</title>
</head>

<body onload="loadTable()">
  <h1>Shopping Cart</h1>

  <div style="display:none" id="empty">
    <p>Your cart is empty</p>
    <a href="/movieslist"> <button>Search for movies</button></a>
  </div>


  <div id="notEmpty" >

    <table id="myTable">
      <thead>
        <tr>
          <th>Remove</th>
          <th>Poster</th>
          <th>Title</th>
          <th>Price</th>
        
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < movies.length; i++) {%>
        <tr>
          <td><input type="button" value="Delete" onclick="deleteRow(this)"/></td>
          <td>
            <img
            style="margin-left: 40%"
            width="20%"
            src="<%= movies[i].poster %>"
            alt=""
          />
            </td>
          <td><a href="/movieslist/<%= movies[i].id %>"><%= movies[i].title %></a></td>
          <td>$<%= movies[i].price %></td>
         
        </tr>
      <% } %>
        
      </tbody>
    </table>

    <button onclick="checkout()">Proceed to checkout</button>
  </div>
</body>
<script>
  var cartLength = document.getElementById("myTable").rows.length-1;

  function checkout(){
    alert("They are in your checkout");
    window.location.href = "/myaccount";
  }

  function updateCartLengthDelete(){
    cartLength = cartLength - 1;
  }

  function checkCartLength(){
    if (cartLength > 0) {
      

      document.getElementById("empty").style.display = "none";
      document.getElementById("notEmpty").style.display = "block";
    } else {
      document.getElementById("empty").style.display = "block";
      document.getElementById("notEmpty").style.display = "none";
    }
  }

  function deleteRow(btn) {
    var row = btn.parentNode.parentNode;
    row.parentNode.removeChild(row);
    updateCartLengthDelete();
   checkCartLength();


}

  function loadTable() {
    if (document.getElementById("myTable").rows.length - 1 > 0) {
     

      document.getElementById("empty").style.display = "none";
      document.getElementById("notEmpty").style.display = "block";
    } else {
      document.getElementById("empty").style.display = "block";
      document.getElementById("notEmpty").style.display = "none";
    }
  }
</script>

<style>
  th,
  td {
    padding: 15px;
  }
</style>
